.pixel-board {
  display: inline-block;
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 800px;
  border: 1px solid #eeeeee;
}

.color-picker {
  max-width: 800px;
  display: inline-block;
  padding: 6px;
}

.circle-picker {
  margin-top: 5px;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: 0px 0;
  }
  100% {
    background-position: 0 800px;
  }
}

.c-animated-background {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #333;
  background: linear-gradient(to bottom, #333 0%, #116611 4%, #55ff55 8%, #116611 12%, #333 16%);
}
